@model DateModel
@using (Html.BeginForm("BuildQuery", "Home"))
{
    <div class="body-content">
        <div class="input-date">
            <p>Please enter a date.</p>
            @Html.TextBoxFor(Model => Model.DateRequested, new { type = "date" })
            <button type="submit">Search</button>
        </div>
    </div>
}