@model DateModel
@using (Html.BeginForm("BuildQuery", "Home"))
{
    <br />
    <p>Please enter a date.</p>
    @Html.TextBoxFor(Model => Model.DateRequested, new { type = "date" })
    <button type="submit">Search</button>
}

